.controller.ds4.white {
  background-image: url(https://raw.githubusercontent.com/UncleClapton/GamepadViewer-PurpleWhiteSkin/master/svgs/base.svgz) !important;
}

.ds4.white .stick {
  background-image: url(https://raw.githubusercontent.com/UncleClapton/GamepadViewer-PurpleWhiteSkin/master/svgs/sticks.svgz) !important;
}

.ds4.white .face {
  background-image: url(https://raw.githubusercontent.com/UncleClapton/GamepadViewer-PurpleWhiteSkin/master/svgs/dpad.svgz) !important;
}

.ds4.white .bumper {
    background-image: url(https://raw.githubusercontent.com/UncleClapton/GamepadViewer-PurpleWhiteSkin/master/svgs/bumper.svgz) !important;
}

.ds4.white .trigger {
    background-image: url(https://raw.githubusercontent.com/UncleClapton/GamepadViewer-PurpleWhiteSkin/master/svgs/triggers.svgz) !important;
}

.ds4.white .touchpad.pressed {
    background-image: url(https://raw.githubusercontent.com/UncleClapton/GamepadViewer-PurpleWhiteSkin/master/svgs/touchpad.svgz) !important;
}

.ds4.white .back, .ds4 .start {
    background-image: url(https://raw.githubusercontent.com/UncleClapton/GamepadViewer-PurpleWhiteSkin/master/svgs/start.svgz) !important;
}
